<h1>Welcome to Tech Blog!</h1>

{{#each posts as |post|}}
  <a class='post-preview card' href='/posts/{{post.id}}'>
    <section>
      {{#if post.image}}
        <img src='{{post.image}}' />
      {{/if}}
      <h3>{{post.title}}</h3>
      <dev class='post-preview-info'>
        <p>Author: {{post.user.name}}</p>
        <p>Posted: {{format_date post.created_at}}</p>
      </dev>
    </section>
  </a>
{{/each}}