<h1>
  {{post.title}}
</h1>
<img style='width: 100%' src='{{post.image}}' />
<p>Author: {{post.user.name}}</p>
<p>Posted: {{post.created_at}}</p>
<pre style='width: 100%; white-space:break-spaces;'>{{post.body}}</pre>