<section class="post">
<h1>
  {{post.title}}
</h1>
{{#if is_author}}
<div class="form-group buttons">
  <button data-post-id='{{post.id}}' id='post-update'>Update Post</button>
  <button data-post-id='{{post.id}}' id='post-delete'>Delete Post</button>
</div>
{{/if}}
{{#if post.image}}
  <img style='width: 100%' src='{{post.image}}' />
{{else}}
  <img
    style='width: 100%'
    src='https://images.unsplash.com/photo-1627398242454-45a1465c2479?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80'
  />
{{/if}}
<div class="post-info">
  <p>Author: {{post.user.name}}</p>
  <p>Posted: {{format_date post.created_at}}</p>
</div>
<pre>{{post.body}}</pre>
<hr/>
<h3>Comments:</h3>
{{#each post.comments as |comment|}}
{{>comment_card}}
{{/each}}
{{#if logged_in}}
<section>
  <form>
    <div class="form-group text-area">
    <label for="comment">Comment:</label>
    <textarea name="comment" id="comment-box" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group buttons">
    <button id="post-comment" data-post-id="{{post.id}}" >Submit</button>
    </div>
  </form>
</section>
<script src='/js/comment.js'></script>
{{else}}
<p>Log in to leave a comment.</p>
{{/if}}
{{#if is_author}}
  <script src='/js/action-post.js'></script>
{{/if}}
</section>